section
    h1 Vertical-Slice Architecture

section
    h3 Scope of this presentation
    img.stretch(src='img/scope-1.svg')

section
    h3 Scope of this presentation
    img.stretch(src='img/scope-2.svg')

section
    h3 Why talk about architecture on this level?

section
    h3 Beginning of a greenfield project
    ul
        li.fragment With small amount of code 'everything' looks good
        li.fragment Requirements are changing
        li.fragment Temptation to just reuse template from last project

section
    h3 One year later
    ul
        li.fragment Maintainability issues
        li.fragment Extensibility issues
        li.fragment Performance issues
        li.fragment Bugs
        li.fragment Developer unhappiness

section
    h3 It's too late to change it
    ul
        li.fragment It would cost too much
        li.fragment Heavy risk of regressions

section
    h3 Which software architecture is most common?

section
    h3 Big ball of mud
    p.fragment Common in practice due to business pressures, developer turnover and code entropy.

section
    h3 1. Choosing right architecture from beginning is very important