section
    h2 Common patterns

section
    h3 "Everything in a Controller"
    ul
        li.fragment Often used as a starting point
        li.fragment Popular among students / junior devs

section
    h3 "Everything in a Controller"
    img.stretch(src='img/basic-arch.svg')

section
    h3 "Everything in a Controller"
    pre: code(data-trim data-noescape)
        include:highlight ../examples/src/BasicArchitecture/Controllers/UsersController.cs

section
    h3 Later you add
    ul
        li.fragment Request validation
        li.fragment Authorization rules
        li.fragment Complex business logic
        li.fragment Mapping between DB model and API model
        li.fragment ...other stuff

section
    h3 Controller now have 1K+ lines of code
    p.fragment Unmaintainable big ball of mud.

section
    h3 This architecture doesn't scale with added code.

section
    h3 Types of scalability
    ul
        li.fragment Usage Scalability
            ul: li number of requests
        li.fragment Scalability over period
            ul: li size of stored data
        li.fragment Code scalability
            ul: li amount of code

section
    h3 2. Think about code scalability
    ul
        li.fragment Single responsibility principle
        li.fragment Open–closed principle