section
    h2 Vertical (Feature) Slice

section
    h3 Layers
    img.stretch(src='img/feature-slice-1.svg')

section
    h3 Vertical slices
    img.stretch(src='img/feature-slice-2.svg')

section
    h3 Microservices
    img.stretch(src='img/feature-slice-3.svg')

section
    h3 Layers
    ul
        li.fragment Localizing technology aspects
        li.fragment Direct dependency on lower layer
        li.fragment Invisible semantic dependency on upper layer
        li.fragment Business aspects spread across all layers

section
    h3 Vertical slices
    ul
        li.fragment Localizing business aspects
        li.fragment Minimize coupling between slices
        li.fragment Maximize coupling in a slice
        li.fragment Single deployment unit

section
    h3 Microservices
    ul
        li.fragment Localizing business aspects
        li.fragment Multiple deployment units

section
    h3 Vertical slices
    p
        | You take a normal "n-tier" architecture and remove the gates
        | and barriers across those layers, and couple along the axis of change

section
    h3 Scopes of feature slice
    ul
        li.fragment Module
        li.fragment Controller
        li.fragment Route

section
    h3 4. Couple code along the axis of change.