section
    h2 Case Study

section
    h3 Apprentince Management System
    ul
        li Angular 5
        li ASP.NET Core

section
    h3 Before
    ul
        li 394 .cs files
        li 19 050 (C#) LOC

section
    h3 Refactoring
    img.stretch(src='img/refactoring-commit.png')

section
    h3 After
    ul
        li 242 .cs files (-152)
        li 13 892 (C#) LOC (-5158)

section
    h3 Solution structure
    ul
        li apps/
            ul
                li Host
                li ...
        li libs/
            ul
                li Core
                li Data
                li Features

section
    h3 Solution structure
    ul
        li Core
            ul
                li Authorization/
                li Models/
                li Repository/
                li Services/
                li Utils/

section
    h3 Solution structure
    ul
        li Data
            ul
                li Entity/
                li EntityConfiguration/
                li Migrations/
                li DatabaseContext.cs


section
    h3 Solution structure
    ul
        li Feature 1
            ul
                li Controller.cs
                li Command/
                    ul
                        li Update.cs
                        li Delete.cs
                li Query/
                    ul: li GetAll.cs
                    ul: li GetById.cs

section
    h3 Controller
    pre: code(data-trim data-noescape)
        include:highlight ../examples/src/FeatureSlice/Features/Users/UserController.cs

section
    h3 Query
    pre: code(data-noescape)
        include:highlight ../examples/src/FeatureSlice/Features/Users/Query/GetUsersQuery.cs

section
    h3 LinqKit
    pre: code(data-noescape)
        include:highlight ../examples/src/FeatureSlice/Core/Repository/UserModelEx.cs

section
    h3 Result of refactoring
    ul
        li.fragment Amount of code was significantly reduced
        li.fragment Easier to navigate in a code base
        li.fragment Extensions & modifications implemented much easier
        li.fragment Reusable queries using LinqKit