section
    h2 Summary

section
    ol
        li Choosing right architecture from beginning is very important
        li.fragment Think about code scalability
        li.fragment Use domain-driven design only when business complexity is bigger issue than added abstractions
        li.fragment Couple code along the axis of change
        li.fragment Treat each request as a distinct use case